html, body{margin:0;height:100%;width: 100%;background-color: transparent;}

body{padding-top: 33px;}

#app-container{}

/*+********************/
/* PURE STYLE */
/*+********************/

.red-cool-border{
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 6px 1px #61020B;
    box-shadow: 0 0 6px 1px #61020B;
}

.gray-cool-border{
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 6px 1px #C7C7C7;
    box-shadow: 0 0 6px 1px #C7C7C7;
}

/*********************/
/* NAVIGATION */
/*********************/

.navbar-nav > li > a {padding-right:0px !important; padding-top:0px !important; padding-bottom:0px !important;}
.navbar { padding-right:0px !important; padding-left:10px !important; min-height:30px !important}

.navbar-right{padding-right:0px !important;}
.nav{padding-right:90px !important; padding-top:0px !important; padding-bottom:0px !important;}

.navbar-nav > li > a {padding-right:0px !important; padding-top:5px !important; padding-bottom:0px !important;}
.nav .navbar {padding-right:0px !important; padding-left:10px !important;}


pre {
   background-color: #E8C7B2;
}

/***********/
/* FOOTER  */
/***********/

.footer {
  padding-top: 9px;
  background-color: black;
  color: #cccccc;
  text-align: center;
  height: 35px;
}
.footer p {font-size: 11px;}
.footer a {color: red;}
